# DisableFormat: true
BasedOnStyle: LLVM

# TabWidth (unsigned)
# The number of columns used for tab stops.
TabWidth: 4

# IndentWidth (unsigned)
# The number of columns to use for indentation.
IndentWidth: 4

# UseTab (UseTabStyle)
# The way to use tab characters in the resulting file.
# Possible values:
#   UT_Never (in configuration: Never) Never use tab.
#   UT_ForIndentation (in configuration: ForIndentation) Use tabs only for indentation.
#   UT_Always (in configuration: Always) Use tabs whenever we need to fill whitespace that spans at least from one tab stop to the next one.
UseTab: Never

Language: Cpp
# Force pointers to the type for C++.
DerivePointerAlignment: false
PointerAlignment: Right

AlignAfterOpenBracket: BlockIndent
BinPackParameters: OnePerLine
BinPackArguments: false

AlignOperands: Align
BreakBeforeBinaryOperators: None
BreakBeforeTernaryOperators: true
BreakBinaryOperations: RespectPrecedence

PackConstructorInitializers: NextLine

AlignConsecutiveAssignments: true
